{% load i18n %}
{% blocktrans %}
<p>Dear {{ firstname }} {{ lastname }},</p>

<p>Thank you for submitting "{{ title }}" to the COVID-19 Library platform.</p>
<p>Unfortunately, your resource did not meet the following criteria to be included on COVID-19 Library:</p>
{% endblocktrans %}
    {% for criterion in rejected_criteria %}
        <li>{{ criterion }}</li>
    {% endfor %}
{% blocktrans %}
<p>The review team made the following comments:</p>

<p>"{{ notes }}"</p>

{% endblocktrans %}

{% blocktrans %}
<p>We would be happy to discuss with you how the resource could be updated to meet our criteria.</p>
{% endblocktrans %}

{% include 'orb/email/footer.html' %}
