.color{":"}
    +at-class()
        color: var(--current-fg)
        --rxn-fg: var(--current-fg)
        --rxn-fg: var(--current-fg)

        .fx:shift
            +at-class()
                +on-hover()
                    color: var(--rxn-fg)


    // ++++++++++++++++++++++++++

    &neutral
        +at-class()
            --current-fg: var(--color-neutral)
            --rxn-fg: var(--color-primary)

        &--alt
            +at-class()
                --current-fg: var(--color-neutral-alt)

    &shade
        +at-class()
            --current-fg: var(--color-shade)

    // ++++++++++++++++++++++++++
    // &bright
    //     +at-class()
    //         --active-fg: var(--color-bright)

    // &dark
    //     +at-class()
    //         --active-fg: var(--color-dark)

    // ++++++++++++++++++++++++++
    &primary
        &--shade
            +at-class()
                --current-fg: var(--color-primary-shade)
                --rxn-fg: var(--color-primary)


    &secondary
        +at-class()
                --current-fg: var(--color-secondary)
                --rxn-fg: var(--color-secondary-shade)
        &--shade
            +at-class()
                --current-fg: var(--color-secondary-shade)
                --rxn-fg: var(--color-secondary)
    //         --active-fg: var(--color-secondary)


    // ++++++++++++++++++++++++++
    &affirm
        +at-class()
            --current-fg: var(--color-affirm)

    &notice
        +at-class()
            --current-fg: var(--color-warn)

    &dissent
        +at-class()
            --current-fg: var(--color-dissent)
