.control{":"}
    +at-class()
        // --hue-bg: initial
        // --sat-bg: initial
        // --lux-bg: initial
        // --alpha-bg: initial
        // --hue-fg: initial
        // --sat-fg: initial
        // --lux-fg: initial
        // --alpha-fg: initial

        background-color: var(--current-bg)
        color: var(--current-fg)
        border-color: var(--current-edge)

    &link
        +at-class()
            --current-bg: convert-bg(colors.primary)
            --current-fg: convert-fg(colors.bright)

            +on-all-states()
                --sat-bg: 30%

        &--ghost
            +at-class()
                background-color: var(--current-fg)
                color: var(--current-bg)

                +on-all-states()
                    --lux-fg: 95%

    &action
        +at-class()
            --current-bg: var(--color-secondary-shade)
            --current-fg: var(--color-tint-alt)

            +on-all-states()
                filter: saturate(1.85)
