@font-face
    font-family: Gilroy
    src: url('../../src/res/fonts/Gilroy-Light.otf')
    font-weight: 400

@font-face
    font-family: Gilroy
    src: url('../../src/res/fonts/Gilroy-SemiBold.otf')
    font-weight: 700

@font-face
    font-family: Gilroy
    src:url('../../src/res/fonts/Gilroy-ExtraBold.otf')
    font-weight: 900
