@font-face
    font-family: Gilroy
    src: url('../../static/Gilroy-Light.otf')
    font-weight: 400

@font-face
    font-family: Gilroy
    src: url('../../static/Gilroy-SemiBold.otf')
    font-weight: 700

@font-face
    font-family: Gilroy
    src: url('../../static/Gilroy-ExtraBold.otf')
    font-weight: 900
