.motif{":"}
    +at-all-breaks()
        // --hue-bg: initial
        // --sat-bg: initial
        // --lux-bg: initial
        // --alpha-bg: initial
        // --hue-fg: initial
        // --sat-fg: initial
        // --lux-fg: initial
        // --alpha-fg: initial

        background-color: var(--current-bg)
        color: var(--current-fg)
        border-color: var(--current-edge)

    &bright
        +at-all-breaks()
            --current-bg: var(--color-bright)
            --current-fg: var(--color-dark)
            --content-link-color: var(--color-accent-hilite)
            --rxn-content-link-color: var(--color-accent-shade)

    &primary
        +at-class()
            --current-bg: var(--color-primary)
            --current-fg: var(--color-bright)
            // --edge-tint: hsla(colors.tint, .25)

            .color:bright
                +at-class()
                    --rxn-fg: var(--color-dark)

        &--tint
            +at-class()
                --current-bg: var(--color-primary-tint)
                --current-fg: var(--color-bright)

    &accent--tint
        +at-class()
            --current-bg: var(--color-accent-tint)
            // --current-bg: var(--color-secondary-tint)
            --current-fg: var(--color-dark)
            // --edge-tint: hsla(colors.tint, .25)

    &tint
        +at-all-breaks()
            --current-bg: var(--color-tint)
            --current-fg: var(--color-dark)
            --content-link-color: var(--color-accent-hilite)
            --rxn-content-link-color: var(--color-accent-shade)
