.motif{":"}
    +at-all-breaks()
        // --hue-bg: initial
        // --sat-bg: initial
        // --lux-bg: initial
        // --alpha-bg: initial
        // --hue-fg: initial
        // --sat-fg: initial
        // --lux-fg: initial
        // --alpha-fg: initial

        background-color: var(--current-bg)
        color: var(--current-fg)
        border-color: var(--current-edge)

    &bright
        +at-all-breaks()
            --current-bg: var(--color-bright)
            --current-fg: var(--color-dark)
            // --edge-tint: hsla(colors.tint, .25)

    &primary
        +at-class()
            --current-bg: var(--color-primary)
            --current-fg: var(--color-bright)
            --edge-tint: hsla(colors.tint, .25)

    &tintAlt
        +at-all-breaks()
            --current-bg: var(--color-tint-alt)
            --current-fg: var(--color-dark)
