{% extends "base.html" %}
{% load static i18n crispy_forms_tags wysiwyg %}

{% block extra_scripts %}
{% wysiwyg_setup %}
<link rel="stylesheet" type="text/css" href="{% static 'orb/jquery.tagsinput.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'orb/jquery.autocomplete.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'orb/tagify.css' %}" />

  <style>
  .tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

  </style>

{% endblock extra_scripts %}

{% block extra_head_title %}{% trans 'Edit Resource' %}{% endblock extra_head_title %}
{% block content %}

<h2>{% trans 'Edit Resource' %}</h2>

{% crispy form %}

{% wysiwyg_editor "id_description" %}
<div id='form-errors'>{{ form_errors }}</div>


<link href="{% static 'orb/style.css' %}" rel="stylesheet"/>

{% endblock %}


{% block footer_js %}
{% include "orb/includes/tag_autocomplete_init.html" %}
{% endblock %}
