{% extends "covid/content.html" %}
{% comment %} {% extends "base.html" %}  {% endcomment %}

{% load i18n %}

{% block extra_head_title %}
	{% trans 'About' %}
{% endblock extra_head_title %}

{% block content_title %}{% trans 'About' %}{% endblock %}
{% block content %}
	<h2>{% trans 'About COVID-19 Library' %}</h2>
	{% url 'orb_terms' as orb_terms %}
	{% blocktrans %}

	<p>COVID-19 Library offers community-based health workers and trainers access to
		quality assured openly licensed content that can be used on mobile devices
		and shared with local communities globally.</p>

	<p>COVID-19 Library has three unique features:</p>
	<ol>
		<li>Brings into one space quality-assured, multimedia materials
			from multiple content developers.</li>
		<li>Adaptation of existing content: COVID-19 Library allows training
			implementers to re-use and adapt quality-assured training materials,
			saving costs and time.</li>
		<li>A global collaborative network of organizations to share and
			review content, integrate content into programs and share
			user-experience.</li>
	</ol>

	<p>By improving access to health content and mobile learning, COVID-19 Library
		helps health workers access the vital content they need to do their
		work effectively and confidently.</p>

	<p>By using the site, you are agreeing to our <a href="{{ orb_terms }}">Terms and Privacy
		Policy</a> and that the content on this site <a href="{{ orb_terms }}#not-medical">does not constitute medical
		advice</a>.</p>
	<p>
		COVID-19 Library is powered by ORB technology.
	</p>

	{% endblocktrans %}
{% endblock content %}
