{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extra_head_title %}{% trans 'COVID' %}{% endblock extra_head_title %}

{% block extra_head_feed %}
<link rel="alternate" type="application/rss+xml" title="RSS"
      href="{% url 'orb_feed' %}">
{% endblock extra_head_feed %}

{% block content %}

{% include 'orb/includes/search_bar.html' %}

<h3 style="text-align: center">
    {% trans 'COVID Resources' %}
</h3>

<div style="position: relative; margin: 20px auto; overflow: hidden; text-align: center;">

 {% include "orb/home_topics.html" %}


	<div style="clear:both"></div>
</div>

{% endblock %}
