{% extends "covid/index.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}

{% load i18n %}
{% load static %}
{% load thumbnail %}


{% block extra_head_title %}{% trans 'COVID-19 Library' %}{% endblock extra_head_title %}

{% block extra_head_feed %}
<link rel="alternate" type="application/rss+xml" title="RSS"
      href="{% url 'orb_feed' %}">
{% endblock extra_head_feed %}

{% block content_scripts %}
{{ block.super }}
{% endblock %}

{% block app %}
{{ block.super }}
{% endblock %}


{% block content %}
<div style="position: relative; margin: 20px auto; overflow: hidden; text-align: center;">
    {% include "orb/home_topics.html" %}
	<div style="clear:both"></div>
</div>
{% endblock %}
