{% extends "covid/landing.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}

{% load i18n %}
{% load static %}
{% load thumbnail %}


{% block extra_head_title %}{% trans 'COVID-19 Digital Classroom' %}{% endblock extra_head_title %}

{% comment %} This is already wrapped in a <p> tag{% endcomment %}
{% block intro %}
      {% blocktrans %}
      COVID-19 Library offers community-based health workers and trainers access
      to quality assured openly licensed content that can be used on mobile
      devices and shared with local communities globally.
      {% endblocktrans %}
{% endblock %}

{% block extra_head_feed %}
<link rel="alternate" type="application/rss+xml" title="RSS"
      href="{% url 'orb_feed' %}">
{% endblock extra_head_feed %}
