{% extends "covid/content.html" %}

{% load i18n %}

{% block extra_head_title %}
	{% trans 'How to use COVID-19 Library resources' %}
{% endblock extra_head_title %}

{% block content_title %}{% trans 'How to use COVID-19 Library resources' %}{% endblock %}

{% block content %}
   <h2>{% trans 'How to use COVID-19 Library' %}</h2>

   <h3>{% trans 'Finding Resources on COVID-19 Library' %}</h3>

   {% url 'orb_home' as orb_browse %}
   {% url 'orb_search' as orb_search %}
   {% url 'orb_tags_filter' as orb_filter %}
   {% url 'orb_cc_faq' as orb_cc_faq %}

   {% blocktrans %}
   <p>The COVID-19 Library platform provides several methods to help find the right content for you - <a href="{{ orb_browse }}">browsing</a>, <a href="{{ orb_search }}">searching</a> and
      <a href="{{ orb_filter }}">filtering</a>.</p>
   {% endblocktrans %}

   {% blocktrans %}
   <p>All the resources are free to access. Registration is not required, but it does allow you to bookmark, rate, and contribute resources. Every resource on COVID-19 Library is openly
      licensed, however some have restrictions on creating adaptations or translations. When you're using the resources, and especially if you're adapting them, remember to
      keep within the terms of the license and include attribution to the author. </p>

   {% endblocktrans %}


   <h3>{% trans 'Using Resources on COVID-19 Library' %}</h3>

   {% blocktrans with settings.ORB_INFO_EMAIL as email %}
   <p>Once you've found the resources you're looking for, each resource will have at least one download or web link option. Use these to save the resource onto your laptop or
      mobile device. You can use the resources for your own study or integrate them into a  training program or workshop.</p>

   <p>Here are some ideas for how you could use the content in your training program:</p>

   <ul>
   <li>Copy the videos onto SD cards, to distribute to health workers to watch on their mobile devices</li>
   <li>Integrate the resources into a mobile learning or eLearning training courses</li>
   <li>Use as teaching aids in classroom or in-person courses</li>
   <li>Use the videos with community members to help reinforce health messages (for example about handwashing, or breastfeeding)</li>
   </ul>

   <p>You can also use COVID-19 Library resources to create a structured, mobile-enabled training course.</p>

   <p>We'd love to hear from you about how you've used the COVID-19 Library resources. If you have a story to share, <a href="mailto:{{ email }}">please contact us</a>.</p>
   {% endblocktrans %}


   <h3>{% trans 'Submitting Resources to COVID-19 Library' %}</h3>

   {% url 'orb_resource_create' as orb_add %}
   {% url 'orb_guidelines' as orb_criteria %}
   {% url 'orb_cc_faq' as orb_cc_faq %}
   {% url 'orb_partners' as orb_partners %}

   {% blocktrans with settings.ORB_INFO_EMAIL as email %}

   <p>If you have some great resources to share, please submit them to COVID-19 Library. This will help your work reach our global audience. You'll need to register (simple and free), then use the
   <a href="{{ orb_add }}">Add Resource</a> form to submit your resource.</p>

   <p>All submitted resources must meet the <a href="{{ orb_criteria }}">COVID-19 Library Guidelines and Criteria</a> to be made available publically through the platform. In short, we’re looking for
      resources that are relevant to community-based health workers and trainers, clinically accurate, usable on a mobile device, and released under a Creative Commons or Public Domain license.</p>

   {% endblocktrans %}
{% endblock content %}
