{% extends "covid/content.html" %}

{% load i18n %}
{% block extra_head_title %}
	{% trans 'Terms and Privacy Policy' %}
{% endblock extra_head_title %}

{% block content_title %}{% trans 'Terms and Privacy Policy' %}{% endblock %}

{% block content %}
	<h2>{% trans 'Terms of Use' %}</h2>
	{% blocktrans %}
	<h3>Limitations of Liability</h3>
	<p>When you access this Web site, you agree that COVID-19 Digital Classroom shall not be liable to you for any loss or injury caused
		in procuring, compiling, or delivering the information gained from the
		site. In no event will COVID-19 Digital Classroom be liable to
		you or anyone else for any action taken by you on the basis of such
		information or for any incidental, consequential, special, or similar
		damages.</p>
	<h3>Disclaimer</h3>
	<p>This Web site is provided on an “as-is” basis. COVID-19 Digital Classroom disclaims all responsibility for any loss,
		injury, claim, liability, or damage of any kind resulting from, arising
		out of, or any way related to any errors in or omissions from this Web
		site and the content, including but not limited to technical
		inaccuracies and typographical errors.</p>
	<p>Every effort is made to provide accurate and complete
		information, but COVID-19 Digital Classroom cannot guarantee
		that there will be no errors. COVID-19 Digital Classroom makes
		no claims, promises, or guarantees about the accuracy, completeness, or
		adequacy of the contents of this Web site and expressly disclaims
		liability for errors and omissions in the contents of this Web site.</p>
	<p>With respect to the content of this site, COVID-19 Digital Classroom its employees, and contractor make no warranty,
		expressed or implied or statutory, including but not limited to the
		warranties of non-infringement of third-party rights, title, and the
		warranties of merchantability and fitness for a particular purpose,
		with respect to content available from this Web site or other Internet
		resources linked from it. Additionally, COVID-19 Digital Classroom assumes no legal liability for the accuracy, completeness, or
		usefulness of any information, product, or process disclosed herein or
		freedom from computer viruses, and does not represent that use of such
		information, product, or process would not infringe on privately owned
		rights. COVID-19 Digital Classroom may make improvements and/or
		changes to its features, functionality, or content at any time.</p>


	<h3><a name="not-medical" class="named-anchor"></a>Not Medical Advice</h3>
	<p>The content contained on this site is not intended to and does
		not constitute medical advice, and no doctor/patient relationship is
		created. The accuracy, completeness, adequacy, or currency of the
		content is not warranted or guaranteed. The use of information on the
		site or materials linked from the site is at the user's own risk. The
		contents of the site, such as text, graphics, images and other
		materials are for informational purposes only. The content is not
		intended to be a substitute for professional medical advice, diagnosis,
		or treatment. Users should always seek the advice of physicians or
		other qualified health providers with any questions regarding a medical
		condition. Users should never disregard professional medical advice or
		delay in seeking it because of something on the site. The site does not
		recommend or endorse any specific tests, products, procedures,
		opinions, or other information that might be mentioned on the site.</p>
	{% endblocktrans %}

	<h2>{% trans 'Privacy Policy' %}</h2>
	{% blocktrans %}
	<p>The privacy policy for this website can be found at:
	<a href="https://lastmilehealth.org/privacy-policy/">https://lastmilehealth.org/privacy-policy/</a></p>

	{% endblocktrans %}
{% endblock content %}
