{% extends "covid/content.html" %}

{% load i18n %}
{% block extra_head_title %}
	{% trans 'Terms and Privacy Policy' %}
{% endblock extra_head_title %}

{% block content_title %}{% trans 'Terms and Privacy Policy' %}{% endblock %}

{% block content %}
	<h2>{% trans 'Terms and Privacy Policy' %}</h2>
	{% blocktrans %}
	<h3>Disclaimer</h3>
	
	<p>This Web site is provided on an “as-is” basis. COVID-19 Digital Classroom 
	and COVID-19 Library disclaims all responsibility for any loss, injury, claim, 
	liability, or damage of any kind resulting from, arising out of, or any way 
	related to any errors in or omissions from this Web site and the content, 
	including but not limited to technical inaccuracies and typographical errors.</p>
	
	<p>Every effort is made to provide accurate and complete information, but 
	COVID-19 Digital Classroom and COVID-19 Library cannot guarantee that there 
	will be no errors. COVID-19 Digital Classroom and COVID-19 Library makes no 
	claims, promises, or guarantees about the accuracy, completeness, or adequacy 
	of the contents of this Web site and expressly disclaims liability for errors 
	and omissions in the contents of this Web site.</p>

	<p>With respect to the content of this site, COVID-19 Digital Classroom and 
	COVID-19 Library its employees, and contractors make no warranty, expressed 
	or implied or statutory, including but not limited to the warranties of 
	non-infringement of third-party rights, title, and the warranties of 
	merchantability and fitness for a particular purpose, with respect to content 
	available from this Web site or other Internet resources linked from it. 
	Additionally, COVID-19 Digital Classroom and COVID-19 Library assumes no legal 
	liability for the accuracy, completeness, or usefulness of any information, 
	product, or process disclosed herein or freedom from computer viruses, and 
	does not represent that use of such information, product, or process would 
	not infringe on privately owned rights. COVID-19 Digital Classroom and 
	COVID-19 Library may make improvements and/or changes to its features, 
	functionality, or content at any time.</p>
	
	<h3>Evolving Information; Not Medical Advice</h3>
	
	<p>The content contained on this site is being made available for 
	informational purposes only, in the context of a public health emergency 
	related to COVID-19 (a.k.a. the coronavirus) and in connection with the 
	state of emergency declared by the President of the United States. It is 
	based on pertinent published medical literature, national and state guidance, 
	and/or expert consensus, which continues to evolve relative to COVID-19. It 
	is neither an attempt to substitute for the practice of medicine nor as a
	substitute for the provision of any medical professional services. Furthermore, 
	the content is not meant to be complete, exhaustive or a substitute for 
	medical professional advice, diagnosis or treatment. The information herein 
	should be adapted to each specific patient based on the treating medical 
	professional’s independent professional judgment and consideration of the 
	patient’s needs, the resources available at the location from where the 
	medical professional services are being provided (e.g., healthcare 
	institution, ambulatory clinic, physician’s office, etc.), and any other 
	unique circumstances. This information should not be used to replace, 
	substitute for or overrule a qualified medical professional’s judgment.</p>
	
	<p>You assume full responsibility for using this information and understand 
	and agree that COVID-19 Digital Classroom and COVID-19 Library is not 
	responsible or liable for any errors or omissions or for any claim, loss 
	or damage resulting from the use of this information, this information is 
	not intended to and does not constitute medical advice, and no doctor/patient 
	relationship is created. Users should never disregard professional medical 
	advice or delay in seeking it because of something on the site, and the site 
	does not recommend or endorse any specific tests, products, procedures, 
	opinions, or other information that might be mentioned on the site.</p>
	
	<h3>External Links</h3>
	
	<p>If this Web site contains links to other sites and resources provided by 
	third parties, these links are provided for your convenience only. We have 
	no control over the contents of those sites or resources, and accept no 
	responsibility for them or for any loss or damage that may arise from your 
	use of them. If you decide to access any of the third-party websites or 
	resources linked to this Web site, you do so entirely at your own risk and 
	subject to the terms and conditions of use for such websites.</p>
	{% endblocktrans %}

	<h2>{% trans 'Privacy Policy' %}</h2>
	{% blocktrans %}
	<p>The privacy policy for this website can be found at:
	<a href="https://lastmilehealth.org/privacy-policy/">https://lastmilehealth.org/privacy-policy/</a></p>

	{% endblocktrans %}
{% endblock content %}
