// @domain      ELEMENT PADDINGS
// @namespace   pad:
// +++++++++++++++++++++++++++++++++++++++++
padLimit = limits.paddings

pad
    if !!((padLimit)px)
        &:xyEq
            +at-breaks()
                --pad-xyEq: 1px
                padding: var(--pad-xyEq)

        &:xEq
            +at-breaks()
                --pad-xEq: 1px
                padding-left: var(--pad-xEq)
                padding-right: var(--pad-xEq)

        &:xEqFull
            if (maxSiteWidth)
                +at-breaks()
                    --pad-xEq: var(--site-content-area)

        &:xStart
            +at-breaks()
                --pad-xStart: 1px
                padding-left: var(--pad-xStart)

        &:xStartFull
            if (maxSiteWidth)
                +at-breaks()
                    --pad-xStart: var(--site-content-area)

        &:xEnd
            +at-breaks()
                --pad-xEnd: 1px
                padding-right: var(--pad-xEnd, 1px)

        &:xEndFull
            if (maxSiteWidth)
                +at-breaks()
                    --pad-xEnd: var(--site-content-area)

        &:yEq
            +at-breaks()
                --pad-yEq: 1px
                padding-bottom: var(--pad-yEq)
                padding-top: var(--pad-yEq)

        &:yStart
            +at-breaks()
                --pad-yStart: 1px
                padding-top: var(--pad-yStart)

        &:yEnd
            +at-breaks()
                --pad-yEnd: 1px
                padding-bottom: var(--pad-yEnd)



        for i in (padLimit)
            num = i/100
            num = (i is 0) ? 0 : num
            num = (i is 10) ? .125 : num
            setPadding = flow(num)

            &:xyEq{i}
                +at-breaks()
                    --pad-xyEq: setPadding

            &:xEq{i}
                +at-breaks()
                    --pad-xEq: setPadding

            &:xStart{i}
                +at-breaks()
                    --pad-xStart: setPadding

            &:xEnd{i}
                +at-breaks()
                    --pad-xEnd: setPadding

            &:yEq{i}
                +at-breaks()
                    --pad-yEq: setPadding

            &:yStart{i}
                +at-breaks()
                    --pad-yStart: setPadding

            &:yEnd{i}
                +at-breaks()
                    --pad-yEnd: setPadding

//  these should be something else
--set
    if (limits.padxFlush)
        &:xFlush
            +at-breaks()
                &:first-child
                    --pad-xStart: 0

                &:last-child
                    --pad-xEnd: 0
    if (limits.padyFlush)
        &:yFlush
            +at-breaks()
                &:first-child
                    --pad-xytart: 0

                &:last-child
                    --pad-yEnd: 0
