{% extends "covid/content.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}

{% load i18n crispy_forms_tags %}
{% block extra_head_title %}{% trans 'Content Review' %}{% endblock extra_head_title %}

{% block content_title %}{% trans 'Content Review' %}{% endblock %}

{% block content %}
<h3>{{ review.resource.title }} (<a href="{% url 'orb_resource' review.resource.slug %}"
                                    target="_blank" class="preview">{% trans 'Preview' %}</a>)</h3>

{% if review.is_pending %}
    <form method="POST" action=".">{% csrf_token %}
        <p>{% trans 'Please mark which resource criteria the resource meets.' %}</p>
        {% crispy form %}
    </form>
{% else %}
    <p>{% trans 'You have already reviewed this resource.' %}
    <a href="{% url 'orb_pending_resources' %}">{% trans 'Return to pending content.' %}</a></p>
    {% endif %}
{% endblock %}
