{% extends "covid/profile/view.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% load i18n %}
{% load thumbnail %}
{% block extra_head_title %}{{ viewuser.first_name }} {{ viewuser.last_name }} - {% trans 'profile' %}{% endblock extra_head_title %}


{% block profile_image %}
{% thumbnail viewuser.userprofile.photo "80x80" format="PNG" padding=True %}
{% endblock %}

{% block profile_name %}
{{ viewuser.first_name }} {{ viewuser.last_name }}
{% endblock %}

{% block profile_edit_label %}
{% trans 'Edit' %}
{% endblock %}

{% comment %} extended template handles show/hide logic {% endcomment %}
{% block profile_role_label %}
{% trans 'Role' %}
{% endblock %}

{% block profile_role %}
{% if viewuser.userprofile.role %}
{{ viewuser.userprofile.role }}
{% else %}
{{ viewuser.userprofile.role_other }}
{% endif %}
{% endblock %}

{% comment %} extended template handles show/hide logic {% endcomment %}
{% block profile_org_label %}
{% trans 'Organisation' %}
{% endblock %}

{% block profile_org %}
{{ viewuser.userprofile.organisation.name }}
{% endblock %}

{% comment %} extended template handles show/hide logic {% endcomment %}
{% block profile_about_label %}
{% trans 'About' %}
{% endblock %}

{% block profile_about %}
{{ viewuser.userprofile.about }}
{% endblock %}

{% comment %} extended template handles show/hide logic {% endcomment %}
{% block profile_website_label %}
{% trans 'Website' %}
{% endblock %}

{% block profile_website %}
<a href="{{ viewuser.userprofile.website }}">{{ viewuser.userprofile.website }}</a>
{% endblock %}

{% comment %} extended template handles show/hide logic {% endcomment %}
{% block profile_twitter_label %}
{% trans 'Twitter' %}
{% endblock %}

{% block profile_twitter %}
<a href="{{ viewuser.userprofile.get_twitter_url }}">{{ viewuser.userprofile.twitter }}</a>
{% endblock %}
